
.sidebar-left .widget {
  padding: 20px 20px $base;
  background: $red;
  color: #fff;
}

.sidebar-left .widget:not(:last-child) {
  margin-bottom: $base;
}

.sidebar-left .widget p {
  @include font-size(13px);
  @include line-height(20px)
}

.sidebar-left .widget a {
  color: #fff;
  border-bottom: 1px solid #fff;

  &:hover {
    color: $lt-grey;
    border-bottom: 1px solid $red;
  }
}

.widget_recent_entries li:not(:last-child) {
  margin-bottom: 12px;
}

.widget_recent_entries .post-date {
  display: block;
}

.widget_categories li:not(:last-child) {
  margin-bottom: 6px;
}

.widget_categories li {
  @include font-size(15px);
}

.widget_search .widget-title {
  margin-bottom: 12px;
}

.widget_search label {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  text-indent: -9999em;
}

.widget_search input[type="search"] {
  width: 100%;
  height: 30px;
  margin-bottom: 6px;
  padding: 0 6px;
  border: none;
}

.widget_search input[type="submit"] {
  @include font-size(15px);
  height: 30px;
  padding: 0 12px;
  background: $blue;
  border: none;
  color: #fff;
  font-family: $sans;
}

