
.sidebar-left .widget {
  padding: 20px 20px $base;
  background: $red;
  color: #fff;
}

.sidebar-left .widget:not(:last-child) {
  margin-bottom: $base;
}

.sidebar-left .widget p {
  @include font-size(13px);
  @include line-height(20px)
}

.sidebar-left .widget a {
  color: #fff;
  border-bottom: 1px solid #fff;

  &:hover {
    color: $lt-grey;
    border-bottom: 1px solid $red;
  }
}

.widget_recent_entries li:not(:last-child) {
  margin-bottom: 12px;
}

.widget_recent_entries .post-date {
  display: block;
}