
a {
  @include global-transition(0.1s);
	color: $blue;

  &:hover {
    color: $red;
  }
}

.body a {
  border-bottom: 1px solid $blue;

  &:hover {
    border-color: #fff;
  }
}

@mixin btn {
  @include font-size(16px);
  display: inline-block;
  padding: 0.5em 1em 0.6em;
  background: $red;
  color: #fff;
  font-weight: $bold;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background: $blue;
    color: #fff;
  }
}

.btn {
  @include btn;
}

.body .btn {
  border-bottom: none;
}
