
.blog .post:not(:last-child),
.category .post:not(:last-child),
.tag .post:not(:last-child),
.search-results .post:not(:last-child) {
  margin-bottom: $base;
  padding-bottom: $base;
  border-bottom: 1px solid $md-grey;
}

.post-title {
  margin-bottom: 12px;
}

.post-date {
  @include font-size(13px);
}

.post-share {
  @include cf;
  margin-bottom: $base;
  padding: 6px 0;
  border-top: 1px solid $lt-grey;
  border-bottom: 1px solid $lt-grey;
}

.post-share a {
  display: block;
  float: left;
  height: 24px;
  margin-right: 12px;
}

.posts-nav {
  @include cf;
  padding-top: $base;
  color: $md-grey;
}

.post-tags {
  @include font-size(13px);
  padding-top: 12px;
}

.posts-nav .nav-item:first-child,
.nav-prev {
  float: left;
}

.posts-nav .nav-item:last-child,
.nav-next {
  float: right;
}
